[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[user]
	name = ukiy6969
	email = ukiy6969@gmail.com
[http]
[socks]
[http]
[socks]
[http]
[fetch]
	prune = true
[diff "sopsdiffer"]
	textconv = sops -d
[url "git@ghe.ca-tools.org:"]
 insteadOf = https://ghe.ca-tools.org/
